.container-full {
  margin: 0 auto;
  width: 100%;
}

section,
section.alert {
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    height: !important 100%;
    margin: 0px;
    padding: 0px;
}

section.active {

}

section > form, 
section > div {
    position: relative;
    top: 0%;
    margin: 0 auto 0;
}

section#main-section > div {
    top: 10%;
}
section#loading-section > div {
    top: 40%;
}
section#finish-section > form {
    top: 20%;
}

.form-signin .signin-error-msg {
    display: none;
}

.form-signin.error-occured .signin-error-msg {
    display: block;
}

// Source: http://stackoverflow.com/a/6394497/2578205
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }

#calendarURL {
    background: #eee;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}
